.projectBackGround{
}

.project {
  margin: 0;
  background-color: #0e1a6b;
  background-image: url('../../assets/item.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height:100vh;
  overflow: hidden;
}

.project img{
  width: 55%;
  margin-top: 10px;
}

.project div{
    background-color: rgb(0 0 0 / 50%);
}

.project div .technologies {
    background: none;
}

.project div .technologies .tag{
    background-color: #3880ab;
}

.project div .technologies .label{
    background: none;
}