.navBar {
  background-color: #0e143c;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  min-height: 57px;
  margin-bottom: 10px;
  box-shadow: 5px 6px 12px -4px #000;
  display: inline-block;
  text-align: left;
  z-index: 5;
}

.dropdown {
  position: relative;
  margin-top: 40px;
  background-color: #0e143c;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  margin-left: 15px;
}

.link:hover,
.link:active,
.link:focus {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.logo {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 15px;
}

.navBarRight {
  float: right;
}

.desktopMenu {
  padding-top: 20px;
}

.tab {
  margin: 30px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  padding: 3px;
}

.menu {
  position: relative;
  margin: 10px;
  padding: 7px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #fff;
  border-color: #fff;
}

.iconBar {
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom: 4px;
  margin-top: 4px;
  border-radius: 1px;
  background-color: #0e143c;
}

.active {
  /* border-bottom: 5px solid #fff; */
  text-shadow: 0px 0px 6px #aeb1c7;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
