.navBar {
  background-color: #9fd8f5;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  min-height: 50px;
  margin-bottom: 10px;
  box-shadow: 5px 6px 12px -4px #000;
  display: inline-block;
  text-align: left;
}

.dropdown {
  position: relative;
  margin-top: 5px;
  background-color: #9fd8f5;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  font-weight: 500;
  color: #fff;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  margin-left: 15px;
}

.logo {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 15px;
}

.navBarRight {
  float: right;
}

.desktopMenu {
  padding-top: 20px;
}

.tab {
  margin: 30px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  padding: 16px;
}

.menu {
  position: relative;
  margin-right: 15px;
  padding: 7px 10px;
  margin-top: 18px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #fff;
  border-color: #fff;
}

.iconBar {
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom: 4px;
  margin-top: 4px;
  border-radius: 1px;
  background-color: #9fd8f5;
}


.active{
  border-bottom: 5px solid #fff;
}
