.contact{
    text-align: center;
    color: #fff;
    background: #0e143c;
    display: block;
    padding: 100px 0;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.link{
}

.icon{
}

.stackOverflow{
    margin-bottom: 6px;
}