.header{
    text-align: center;
    color: #fff;
    background: #6477bd;;
    display: block;
    padding-top: 90px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.profile{
    border-radius: 600px;
    width: 350px;
    height: 450px;
}

.tagLine{
}